*{
    box-sizing: border-box;
}
body{
    background-color: bisque;
}
.wrapper{
    display: flex;
    /* justify-content: space-around; */
    margin-top: 250px;
    margin-left: 400px;
}

#hours{
    font-size: 50px;
    color: white;
    margin-left: 50px;
    position: relative;
    bottom: 110px;
}
#minutes{
    font-size: 50px;
    color: white;
    margin-left: 50px;
    position: relative;
    bottom: 110px;
}
#seconds{
    font-size: 50px;
    color: white;
    margin-left: 50px;
    position: relative;
    bottom: 110px;
}